## Multiple linear regression

 Multiple Linear Regression is an extension of Simple Linear regression as it takes more than one predictor variable to predict the response variable. We can define it as:
 * Multiple Linear Regression is one of the important regression algorithms which models the linear relationship between a single dependent continuous variable and more than one independent variable

In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("Advertising.csv")
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [40]:
df.isnull().sum()

Unnamed: 0    0
TV            0
radio         0
newspaper     0
sales         0
dtype: int64

In [41]:
X = df.iloc[: , 1 :-1]
y = df["sales"]

In [42]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [43]:
# splitting the dataset into the training and test dataset
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 20)

In [44]:
# fitting multiple linear regression to the training dataset
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train , y_train)

LinearRegression()

In [45]:
# predicting the test data results
y_pred = regressor.predict(X_test)

In [46]:
from sklearn.metrics import r2_score
score = r2_score(y_test , y_pred)

In [47]:
print(score)

0.9032049399335234

In [30]:
X = df[["TV" , "radio"]]

In [23]:
X = df[["TV" , "newspaper"]]

In [31]:
X = df[["newspaper" , "radio"]]